
<template>
  <div class="container">
    <section class="portfolio">
      <h2>Portfolio</h2>

      <div class="section me">
        <h3>Me</h3>
        <p>
          Hello! I'm Gontla Vasavi Sindhu, a passionate software developer.
          Graduated from Kallam Haranadhareddy Institute of Technology in the academic year 2024.
          Currently,I'm learning a Java Fullstack Development Course.
          Programming is my cup of tea.
          I have knowledge on C language, Java language,Python language,HTML,CSS,JavaScript.
          I'm a active listener,Team Leader,Team Player.
          Love problem Solving which end up me in Critical Thinking.
          My lazy brain reinforces my faith in hard work at times and smart work at times.
          Always happy to sing and adore nature.
          Last,but best at commmunication. 
        </p>
      </div>

      <div id="img">
        <img src="D:\NustPortfolio\portfolio image.jpeg" id="myimg">
      </div>

      <div class="section skills" >
        <h3>Skills</h3>
        <ul>
          <li v-for="(skill, index) in skills" :key="index">{{ skill }}</li>
        </ul>
      </div>

      <br>
      <div class="section projects">
        <h3>Projects</h3>
        <ul>
          <li v-for="(project, index) in projects" :key="index">
            <strong>{{ project.name }}:</strong> {{ project.description }}
          </li>
        </ul>
      </div>

      <div class="section contact-info">
        <h3>Contact Information</h3>
        <p>Gmail: <a href="vasavisindhu2002@gmail.com" target="_blank">vasavisindhu2002@gmail.com</a></p>
        <p>Linkedin:<a href="https://www.linkedin.com/in/vasavi-sindhu-gontla-7143b1248/" target="_blank">https://www.linkedin.com/in/vasavi-sindhu-gontla-7143b1248/</a></p>
        <p>GitHub: <a href="https://github.com/vasavisindhu" target="_blank">https://github.com/vasavisindhu</a></p>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data(){
    return {
      skills: ['C','Java', 'Python','JavaScript','HTML & CSS','Java Script','Problem solving','Critical Thinking','Communication','Team Leader','Team Player'],
      projects: [
        { name: 'Swift Incident Response: Startegies for Effective Defense', description: 'This project is related to the domain of Cyber Security.This project objective is to formulate startegies against the cyber attacks/cyber threats using Swift Incident Respone.I have worked as Team leader for this and completed this project along with my team by working around the clock.You can go through this project here: https://github.com/vasavisindhu/208X1A1210-Vasavi-Sindhu.git'},
        { name: 'Portfolio', description: 'I have used only HTML and CSS to make this project.You can check here:https://vasavisindhu.github.io/portfolio/' },
      ],
    };
  }
}
</script>

<style scoped>
h2,h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  background-image:linear-gradient(180deg,rgb(220, 20, 203),hotpink) ;
}
#myimg{
  width:400px;
  height:500px;
  margin-right:8%;
  float:right;
}
.portfolio {
  background-image:linear-gradient(180deg,pink,white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.section {
  margin-bottom: 20px;
}

.section ul {
  list-style: none;
  padding-left: 0;
}

.section li {
  margin: 5px 0;
}

a {
  color: #3498db;
}


</style>
